RightMyGuide.DataAccess/Service References/ServiceReference/IMdbService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IMdbService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://demoepisodeservice.cloudapp.net/IMdbService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://demoepisodeservice.cloudapp.net/IMdbService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://demoepisodeservice.cloudapp.net/IMdbService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IMdbService" />
      <xsd:import schemaLocation="http://demoepisodeservice.cloudapp.net/IMdbService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIMdbService_SearchShowByTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchShowByTitle" />
  </wsdl:message>
  <wsdl:message name="IIMdbService_SearchShowByTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchShowByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IIMdbService_GetShowById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShowById" />
  </wsdl:message>
  <wsdl:message name="IIMdbService_GetShowById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IIMdbService_GetShowsByIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShowsByIds" />
  </wsdl:message>
  <wsdl:message name="IIMdbService_GetShowsByIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowsByIdsResponse" />
  </wsdl:message>
  <wsdl:message name="IIMdbService_AddReview_InputMessage">
    <wsdl:part name="parameters" element="tns:AddReview" />
  </wsdl:message>
  <wsdl:message name="IIMdbService_AddReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddReviewResponse" />
  </wsdl:message>
  <wsdl:message name="IIMdbService_GetReviews_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReviews" />
  </wsdl:message>
  <wsdl:message name="IIMdbService_GetReviews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReviewsResponse" />
  </wsdl:message>
  <wsdl:message name="IIMdbService_ClearReviews_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearReviews" />
  </wsdl:message>
  <wsdl:message name="IIMdbService_ClearReviews_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearReviewsResponse" />
  </wsdl:message>
  <wsdl:message name="IIMdbService_GetFutureEpisodes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFutureEpisodes" />
  </wsdl:message>
  <wsdl:message name="IIMdbService_GetFutureEpisodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFutureEpisodesResponse" />
  </wsdl:message>
  <wsdl:portType name="IIMdbService">
    <wsdl:operation name="SearchShowByTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IIMdbService/SearchShowByTitle" message="tns:IIMdbService_SearchShowByTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIMdbService/SearchShowByTitleResponse" message="tns:IIMdbService_SearchShowByTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShowById">
      <wsdl:input wsaw:Action="http://tempuri.org/IIMdbService/GetShowById" message="tns:IIMdbService_GetShowById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIMdbService/GetShowByIdResponse" message="tns:IIMdbService_GetShowById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShowsByIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IIMdbService/GetShowsByIds" message="tns:IIMdbService_GetShowsByIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIMdbService/GetShowsByIdsResponse" message="tns:IIMdbService_GetShowsByIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IIMdbService/AddReview" message="tns:IIMdbService_AddReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIMdbService/AddReviewResponse" message="tns:IIMdbService_AddReview_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReviews">
      <wsdl:input wsaw:Action="http://tempuri.org/IIMdbService/GetReviews" message="tns:IIMdbService_GetReviews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIMdbService/GetReviewsResponse" message="tns:IIMdbService_GetReviews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearReviews">
      <wsdl:input wsaw:Action="http://tempuri.org/IIMdbService/ClearReviews" message="tns:IIMdbService_ClearReviews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIMdbService/ClearReviewsResponse" message="tns:IIMdbService_ClearReviews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFutureEpisodes">
      <wsdl:input wsaw:Action="http://tempuri.org/IIMdbService/GetFutureEpisodes" message="tns:IIMdbService_GetFutureEpisodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIMdbService/GetFutureEpisodesResponse" message="tns:IIMdbService_GetFutureEpisodes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIMdbService" type="tns:IIMdbService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchShowByTitle">
      <soap:operation soapAction="http://tempuri.org/IIMdbService/SearchShowByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShowById">
      <soap:operation soapAction="http://tempuri.org/IIMdbService/GetShowById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShowsByIds">
      <soap:operation soapAction="http://tempuri.org/IIMdbService/GetShowsByIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddReview">
      <soap:operation soapAction="http://tempuri.org/IIMdbService/AddReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReviews">
      <soap:operation soapAction="http://tempuri.org/IIMdbService/GetReviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearReviews">
      <soap:operation soapAction="http://tempuri.org/IIMdbService/ClearReviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFutureEpisodes">
      <soap:operation soapAction="http://tempuri.org/IIMdbService/GetFutureEpisodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IMdbService">
    <wsdl:port name="BasicHttpBinding_IIMdbService" binding="tns:BasicHttpBinding_IIMdbService">
      <soap:address location="http://demoepisodeservice.cloudapp.net/IMdbService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>